h1{
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-family: Georgia, serif;
}

h2{
    text-transform: capitalize;
    color: rgb(0, 140, 255);
    font-size: small;
    margin-left: 15px;
}

ul{
    font-family: "Open Sans";
    font-size: x-small
}

.summary{
    font-size: x-small;
    color: #333;
    text-align: justify;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Open Sans";
}

.dates{
    font-size: xx-small;
    font-family: "Open Sans";
    margin-left: 15px;
    margin-top: -15px
}

.job-title{
    font-family: "Merriweather Sans";
    margin-left: 15px;
    
}

.degrees{
    font-family: "Merriweather Sans";
    margin-left: 15px;
    font-size: x-small;
}

.degree-dates{
    font-size: xx-small;
    font-family: "Open Sans";
    margin-left: 15px;
    margin-top: -10px
}

.links{
    font-size: normal;
    font-family: "Open Sans";
    margin-left: 15px;
    text-align: center;
}